/* General Styles */
* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Merienda', cursive;
    background-color: #191717;
}

h1, h5 {
    padding: 5px 0 5px 0;
}


/* header styling */
#header {
    width: 100%;
    font-size: 1rem;
    background-color: #191717;
    color: #F1EFEF;
    text-align: center;


}


/* Score Section Styling */
#main-scores h3, #round-scores h3, #game-area h3, #game-area h4{
    text-align: center;
   
}

#main-scores, #round-scores, #game-area {
    border: 2px solid #191717;
    background-color: #F1EFEF;
    padding: 0 5px 0 5px;
    border-radius: 5px;
    margin: 1%;
    
}

.score-container {
    display: flex;
    flex-direction: row;
}

.score-layout {
    width: 50%; 
}

#controls {
    width: 85%;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    
    
    
}


 .btn {
    width: 200px;
    height: 50px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    color: white;
 }

 .btn:focus {
     outline: none;
 }

 .btn--big {
     padding-top: 10px;
     border-radius: 50%;
     /* background-color: white; */
     border: 6px solid;
     width: 80px;
     height: 80px;
     font-size: 3.2rem;
     margin: 0 15px;
     transition: all 0.5s;
     color: #191717;
 }

 .btn-red {
    border-color: red;
    color: red;
 }

 .btn-blue {
    border-color: blue;
    color: blue;
 }

 .btn-green {
     border-color: green;
     color: green;
 }

 .btn-purple {
     border-color: purple;
     color: purple;
 }

 .btn-orange {
     border-color: orange;
     color: orange;
 }

