/* General Styles */
* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Merienda', cursive;
    background-color: #191717;
}

h1, h5 {
    padding: 5px 0 5px 0;
}


/* header styling */
#header {
    width: 100%;
    font-size: 1rem;
    background-color: #191717;
    color: #F1EFEF;
    text-align: center;


}


/* Score Section Styling */
#main-scores h3, #round-scores h3, #game-area h3, #game-area h4{
    text-align: center;
   
}

#main-scores, #round-scores, #game-area {
    border: 2px solid #191717;
    background-color: #F1EFEF;
    padding: 0 5px 0 5px;
    border-radius: 5px;
    margin: 1%;
    
}

.score-container {
    display: flex;
    flex-direction: row;
}

.score-layout {
    width: 50%; 
}



